extends layout

block content
  h1 Welcome!
  h2 Estimated value of holdings: #{totalBtcValue} / ¥#{valuation} (1btc = #{btcPrice})
  ul
    each values, currency in holdingCurrencies
      li
        ul
          li #{currency}
          li #{values.btcValue}BTC
