extends layout

block content
  h1 Welcome!
  h2 残高
    div
      div #{totalBtcValue} BTC
      div ¥#{valuation} (1btc = #{btcPrice})
  h3 内訳
    ul
      each values, currency in holdingCurrencies
        li
          ul
            li #{currency}
            li #{values.btcValue}BTC
  h2 貸出
    if btcLendingPercent
      div 今は #{btcLendingPercent} &#37;で貸し出します
    else
      div 今は貸し出すのはやめといてます
